@import "src/styles/colors.module";

.IconButton {
  min-width: auto !important;
  margin-right: -20px !important;
}

.IconButtonDelete {
  @extend .IconButton;
  position: absolute !important;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -1;
    border-radius: 50%;
    background-color: $backgroundPrimary;
  }
}
