@import "src/styles/colors.module";

.Box {
  border: solid 1px $borderLight;
  flex-grow: 1;
}

.BoxSideBar {
  @extend .Box;
  overflow: auto;
  flex-grow: 1;
}

.BoxSmall {
  @extend .Box;
  flex-grow: 0;
}

.Stack {
  width: 100%;
}

