$backgroundPrimary: #0a1929;

$primaryMain: #0ed3b4;
$secondaryMain: #007ef6;
$secondaryLight: #0364a8;
$tertiaryMain: #0f353e;

$borderLight: rgba(255, 255, 255, 0.1);
$borderMedium: rgba(255, 255, 255, 0.5);

:export {
  backgroundPrimary: $backgroundPrimary;
  borderLight: $borderLight;
  borderMedium: $borderMedium;
  primaryMain: $primaryMain;
  secondaryMain: $secondaryMain;
  secondaryLight: $secondaryLight;
}
