@import "@xyflow/react/dist/base.css";
@import "@/shared/styles/style.css";

:root {
  --node-width: 280px;
  --node-height: 150px;
  --node-border-radius: 40px;
  --treege-color-primary: #13d3b4;
  --treege-color-tertiary: #0065a8;
  --treege-color-secondary: #007ff6;
  --treege-color-submit-primary: #ff4757;
  --treege-color-submit-secondary: #ff6b81;
  --treege-color-submit-tertiary: #ee5a6f;
}

button {
  @apply cursor-pointer select-none;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* Default node */
div.react-flow__node,
div.react-flow__node.react-flow__node-input {
  border: 0;
}

/* Neon node */
div.react-flow__node__wrapper {
  @apply flex justify-center flex-col p-7;
  width: 270px;
  height: 150px;
  border-radius: 40px;
  border: 3px solid transparent;
  box-shadow:
    0 0 20px 6px oklch(from var(--treege-color-primary) l c h / 10%),
    0 0 20px oklch(from var(--treege-color-tertiary) l c h / 10%);
  background:
    linear-gradient(oklch(from var(--color-card) l c h / 33%), oklch(from var(--color-card) l c h / 33%)) padding-box,
    linear-gradient(
      145deg,
      oklch(from var(--treege-color-primary) l c h / 40%),
      oklch(0 0 0 / 0),
      oklch(from var(--treege-color-secondary) l c h / 40%)
    )
    border-box;
}

/* Neon node in group */
div.react-flow__node__wrapper.in-group {
  background:
    linear-gradient(oklch(from var(--color-card) l c h / 33%), oklch(from var(--color-card) l c h / 33%)) padding-box,
    linear-gradient(145deg, oklch(from var(--color-chart-2) l c h / 33%), oklch(0 0 0 / 0), oklch(from var(--color-chart-2) l c h / 33%))
    border-box;
}

/* Neon node selected */
div.react-flow__node.selected .react-flow__node__wrapper {
  box-shadow:
    0 0 20px 6px oklch(from var(--treege-color-primary) l c h / 30%),
    0 0 20px oklch(from var(--treege-color-tertiary) l c h / 30%);
}

/* Submit type node */
div.react-flow__node__wrapper.submit-type {
  box-shadow:
    0 0 20px 6px oklch(from var(--treege-color-submit-primary) l c h / 10%),
    0 0 20px oklch(from var(--treege-color-submit-tertiary) l c h / 10%);
  background:
    linear-gradient(oklch(from var(--color-card) l c h / 33%), oklch(from var(--color-card) l c h / 33%)) padding-box,
    linear-gradient(
      145deg,
      oklch(from var(--treege-color-submit-primary) l c h / 40%),
      oklch(0 0 0 / 0),
      oklch(from var(--treege-color-submit-secondary) l c h / 40%)
    )
    border-box;
}

/* Submit type node selected */
div.react-flow__node.selected .react-flow__node__wrapper.submit-type {
  box-shadow:
    0 0 20px 6px oklch(from var(--treege-color-submit-primary) l c h / 30%),
    0 0 20px oklch(from var(--treege-color-submit-tertiary) l c h / 30%);
}

/* Group node */
div.react-flow__node-group,
div.react-flow__node-group.selected {
  background: oklch(from var(--color-chart-2) l c h / 5%);
  box-shadow: none;
  border: 3px dashed var(--color-chart-2);
}

/* Group node  resize */
div.react-flow__node-group .react-flow__resize-control {
  padding: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Group node hover display  */
div.react-flow__node-group:hover .react-flow__resize-control,
.react-flow__resize-control:hover {
  opacity: 1;
}

/* Handle */
div.react-flow__handle {
  background-color: var(--treege-muted-foreground);
  @apply rounded-sm hover:bg-primary/80 w-6 h-6 flex items-center justify-center cursor-pointer transition-colors;
}

/* Edge */
path.react-flow__edge-path {
  stroke: var(--treege-muted-foreground);
}

/* Edge label */
.button-edge__label {
  position: absolute;
  pointer-events: all;
  transform-origin: center;
}

/* Button edge */
.button-edge__button {
  width: 30px;
  height: 30px;
  border: 5px solid var(--xy-minimap-background-color-default);
  background-color: var(--color-ring);
  color: var(--treege-primary);
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  padding-top: 0;
}

/* Button edge hover*/
.button-edge__button:hover {
  background-color: var(--treege-destructive);
  color: #ffffff;
}

/* Json editor */
.w-tc-editor {
  @apply bg-input/30 dark:bg-input/30 rounded-md border border-input;
}
