@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--treege-radius) - 4px);
  --radius-md: calc(var(--treege-radius) - 2px);
  --radius-lg: var(--treege-radius);
  --radius-xl: calc(var(--treege-radius) + 4px);
  --color-background: var(--treege-background);
  --color-foreground: var(--treege-foreground);
  --color-card: var(--treege-card);
  --color-card-foreground: var(--treege-card-foreground);
  --color-popover: var(--treege-popover);
  --color-popover-foreground: var(--treege-popover-foreground);
  --color-primary: var(--treege-primary);
  --color-primary-foreground: var(--treege-primary-foreground);
  --color-secondary: var(--treege-secondary);
  --color-secondary-foreground: var(--treege-secondary-foreground);
  --color-muted: var(--treege-muted);
  --color-muted-foreground: var(--treege-muted-foreground);
  --color-accent: var(--treege-accent);
  --color-accent-foreground: var(--treege-accent-foreground);
  --color-destructive: var(--treege-destructive);
  --color-border: var(--treege-border);
  --color-input: var(--treege-input);
  --color-ring: var(--treege-ring);
  --color-chart-1: var(--treege-chart-1);
  --color-chart-2: var(--treege-chart-2);
  --color-chart-3: var(--treege-chart-3);
  --color-chart-4: var(--treege-chart-4);
  --color-chart-5: var(--treege-chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --treege-radius: 0.625rem;
  --treege-background: oklch(1 0 0);
  --treege-foreground: oklch(0.145 0 0);
  --treege-card: oklch(1 0 0);
  --treege-card-foreground: oklch(0.145 0 0);
  --treege-popover: oklch(1 0 0);
  --treege-popover-foreground: oklch(0.145 0 0);
  --treege-primary: oklch(0.205 0 0);
  --treege-primary-foreground: oklch(0.985 0 0);
  --treege-secondary: oklch(0.97 0 0);
  --treege-secondary-foreground: oklch(0.205 0 0);
  --treege-muted: oklch(0.97 0 0);
  --treege-muted-foreground: oklch(0.556 0 0);
  --treege-accent: oklch(0.97 0 0);
  --treege-accent-foreground: oklch(0.205 0 0);
  --treege-destructive: oklch(0.577 0.245 27.325);
  --treege-border: oklch(0.922 0 0);
  --treege-input: oklch(0.922 0 0);
  --treege-ring: oklch(0.708 0 0);
  --treege-chart-1: oklch(0.646 0.222 41.116);
  --treege-chart-2: oklch(0.6 0.118 184.704);
  --treege-chart-3: oklch(0.398 0.07 227.392);
  --treege-chart-4: oklch(0.828 0.189 84.429);
  --treege-chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --treege-background: oklch(0.145 0 0);
  --treege-foreground: oklch(0.985 0 0);
  --treege-card: oklch(0.205 0 0);
  --treege-card-foreground: oklch(0.985 0 0);
  --treege-popover: oklch(0.205 0 0);
  --treege-popover-foreground: oklch(0.985 0 0);
  --treege-primary: oklch(0.922 0 0);
  --treege-primary-foreground: oklch(0.205 0 0);
  --treege-secondary: oklch(0.269 0 0);
  --treege-secondary-foreground: oklch(0.985 0 0);
  --treege-muted: oklch(0.269 0 0);
  --treege-muted-foreground: oklch(0.708 0 0);
  --treege-accent: oklch(0.269 0 0);
  --treege-accent-foreground: oklch(0.985 0 0);
  --treege-destructive: oklch(0.704 0.191 22.216);
  --treege-border: oklch(1 0 0 / 10%);
  --treege-input: oklch(1 0 0 / 15%);
  --treege-ring: oklch(0.556 0 0);
  --treege-chart-1: oklch(0.488 0.243 264.376);
  --treege-chart-2: oklch(0.696 0.17 162.48);
  --treege-chart-3: oklch(0.769 0.188 70.08);
  --treege-chart-4: oklch(0.627 0.265 303.9);
  --treege-chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
