@import "src/styles/colors.module";

:global {
  .rd3t-node svg {
    stroke: transparent !important;
  }
}


.Container {
  border: solid 1px $borderBlueLight;
  background: $backgroundPrimary;
}

.Title {
  margin: 0;
}

.ActionButton {
  //padding: 0;
  min-width: auto !important;
}
